<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{base}">
<head>
    <title>Home</title>
</head>
<div layout:fragment="page_content" id="page_content">
    <!--/*@thymesVar id="eventsResponse" type="com.abc.eventful.model.EventsResponse"*/-->
    <!--/*@thymesVar id="events" type="com.abc.eventful.model.Events"*/-->
    <!--/*@thymesVar id="event" type="com.abc.eventful.model.Event"*/-->
    <!--/*@thymesVar id="categories" type="com.abc.eventful.model.Categories"*/-->
    <!--/*@thymesVar id="category" type="com.abc.eventful.model.Category"*/-->

    <div class="container">
        <h1 class="mb-3">EVENTS IN LONDON, UK</h1>

        <div class="row">
            <div class="col-sm-3">
                <div class="list-group">
                    <th:block th:each="category: ${categories}">
                        <a class="list-group-item list-group-item-action"
                           th:href="${'/events/london/' + category.id}" th:utext="${category.name}"></a>
                    </th:block>
                </div>
            </div>

            <div class="col-sm-9">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <th:block th:each="event: ${events}">
                        <th:block th:if="${event}" class="mt-3">
                            <div class="col mb-3">
                                <a th:href="${event.url}" class="custom-card" target="_blank">
                                    <div class="card">
                                        <div class="embed-responsive embed-responsive-16by9">
                                            <img alt="Card image cap" class="card-img-top embed-responsive-item"
                                                 th:if="${event.image}"
                                                 th:src="${event.image?.medium?.url}" th:alt="${event.title}"/>
                                        </div>

                                        <div class="card-body">
                                            <h5 class="card-title" th:utext="${event.title}"></h5>
                                            <p class="card-text"
                                               th:text="${event.cityName + ', ' + event.countryName}"></p>
                                        </div>
                                    </div>

                                </a>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</div>