<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base}">
<head>
    <title>Server error</title>
</head>
<body>
<div layout:fragment="page_content" id="page_content">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-sm-8">
                <div class="display-1 text-center" style="font-size: 80px;">500</div>
                <p class="lead text-center">Something went wrong! But we're on it.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>